#wrapper {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#options {
    display: flex;
    column-gap: 50px;
}

#newFileBtn {
    margin-top: 25px;
    width: 100%;
}

.files {
    position: absolute;
    right: 50px;
    width: 300px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}