<div id="wrapper">
  <mat-form-field>
    <mat-label>File Name</mat-label>
    <input matInput [(ngModel)]="newFileName">
  </mat-form-field>
  <mat-radio-group id="options" [(ngModel)]="typeToMake">
    <mat-radio-button value="jpg" color="primary">JPEG</mat-radio-button>
    <mat-radio-button value="png" color="primary">PNG</mat-radio-button>
  </mat-radio-group>
  <button id="newFileBtn" mat-button color="primary" (click)="onNewFileBtnClick()">Create File</button>
</div>
<div class="files">
  <app-file-card *ngFor="let file of createdFiles" [file]="file"></app-file-card>
</div>